* {position: relative;}
#root {
  width: 1400px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  position: relative;
  /* width: 100%;
  overflow-y: scroll; */
}
.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
}
.header-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
  padding: 30px;
  box-sizing: border-box;
}
.header {
  border: black 2px solid;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  flex:1;
  color: black;
}
.box-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.box-container button {
  background-color: #8df0cc; 
  color: #0f1115; 
  border-radius: 5px; 
  padding: 10px;
  margin: 10px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #ff0088;
  border-radius: 5px;
}

/* .box-progression {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: #ff0088;
} */

.map-container-outer {
  display: flex;
  flex-flow: column nowrap;
  height: 3000vh;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.map-container-inner {
  position:-webkit-sticky;
  position: sticky;
  top: 40px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  height: 0;
}

.map-container {
  /* position: fixed;
  top: 50px;
  left: 500px; */
  z-index: 0;
  position: relative;
}
.map-inner {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.side-container {
  position: relative;
  width: 500px;
  display: flex;
  height: 600px;
  box-sizing: border-box;
  justify-content: flex-end;
  z-index: 1;
}
.side-box {
  padding: 20px;
  flex: 1;
  display: flex;
  border: 2px solid black;
  margin: 40px 40px 0 0;
}
.text-box {
  color: black;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-flow: column;
  overflow: hidden;
}
.text {
  position: absolute;
}
.book-title {
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}
.description {
  top: 400px;
  text-align: left;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.side-extend {
  position: absolute;
  left: 0;
  width: 1278px;
  height: 600px;
  /* background: blue;
  opacity: 0.4; */
}

.test-div {
  border: 1px solid red;
  padding: 20px;
  flex: 1
}