@import 'tailwindcss';
/* @import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap'); */

* {position: relative;}

@theme {
  --font-roboto: Roboto, sans-serif;
  --font-playfair: Playfair, serif;
}

#root {
  width: 1400px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  position: relative;
  /* width: 100%;
  overflow-y: scroll; */
}
.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
}
.header-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
  padding: 30px;
  box-sizing: border-box;
  justify-content: center;
}
.header {
  /* border: black 2px solid; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  flex:1;
  gap: 30px;
  color: black;
  flex: 0 1 80%;
}
.map-container-outer {
  display: flex;
  flex-flow: column nowrap;
  height: 3000vh;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.target-container {
   display: flex;
   flex-flow: column nowrap;
   width: 100%;
   justify-content: flex-start;
   align-items: center;
   gap: 10px;
   padding: 0 10px;
}
/* .target-container > div {
  width: 100%;
} */
.map-container-inner {
  position:-webkit-sticky;
  position: sticky;
  top: 40px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  height: 0;
}

.map-container {
  /* position: fixed;
  top: 50px;
  left: 500px; */
  z-index: 0;
  position: relative;
}
.map-inner {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.side-container {
  position: relative;
  width: 500px;
  display: flex;
  height: 600px;
  box-sizing: border-box;
  justify-content: flex-end;
  z-index: 1;
}
.side-box {
  padding: 20px;
  flex: 1;
  display: flex;
  /* border: 2px solid black; */
  margin: 40px 40px 0 0;
}
.text-box {
  color: black;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-flow: column;
  overflow: hidden;
}
.text {
  position: absolute;
}
.book-title {
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}
.description {
  top: 400px;
  text-align: left;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  gap: 10px;
}
.side-extend {
  position: absolute;
  left: 0;
  width: 1278px;
  height: 600px;
  /* background: blue;
  opacity: 0.4; */
}

.test-div {
  border: 1px solid red;
  padding: 20px;
  flex: 1
}