* {position: relative;}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
  /* width: 100%;
  overflow-y: scroll; */
}
.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  /* width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box; */
}

.box-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.box-container button {
  background-color: #8df0cc; 
  color: #0f1115; 
  border-radius: 5px; 
  padding: 10px;
  margin: 10px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #ff0088;
  border-radius: 5px;
}

/* .box-progression {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: #ff0088;
} */